body {
    background-color: #0f131a;
    color: #ffffff;
    background: url(../images/bg.JPG);
    font-family: "Robto Mono", monospace;
    line-height: 1.4;
    padding: 32px 24px;
}

.header {
    background-color: red;
    text-align: center;
    margin-bottom: 48px;
}